body
{
	background-color: #202020;
	padding: 0,0,0,0;
	margin: 0px;
	
	font-family: Geneva, Verdana;

}
.logo
{
	height: 100%;
	float: left;
	background-image: "Logo.png";
}
.top
{
	width: 100%;
	height: 150px;
	background-color: #171717;
	margin: 0,0,0,0;
	padding: 0,0,0,0;
}
.top nav
{
	float: right;
	color: white;
	height: 100%;
}
.top nav li
{
	float: left;
	width: 300px;
	height: 100%;
	padding-left: 10px;
	list-style-type: none;
}

.top nav li button
{
	background-color: #101010;
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	height: 100%;
	width: 100%;
	border: none;
	color: white;
	font-family: Monaco, Verdana, Arial;
	text-align: center;
	font-size: 1rem;
}
.top nav li button:hover
{
	background-color: #202020;
	font-size: 0;
}


.top_button_image
{
	background-color: #101010;
	-webkit-transition-duration: 0.4s; 
	width: 50px;
	border-radius: 25px;
}
.top_button_image:hover
{
	width: 100px;
	border-radius: 25px;
}

.Conteiner
{
	background-color: #171717;
	margin-left: 10%;
	margin-right: 10%;
	height: 2000px;
	padding: 10px;
	margin-top: 20px;
}

.Conteiner ul
{
	padding:0;
}

.Conteiner ul li
{
	list-style-type: none;
}

.Element
{
	width: auto;
	background-color: green;
	height: 400px;
}

.Element_header
{
	background-color: blue;
	height: 100px;
	width: auto;
	display: flex;
	text-align: center;
}

.Element_header img
{
	height: 100px;
	border-radius: 25px;
	float: left;
}

.Element_header_h1
{
	display: table-cell;
	vertical-align: middle;
	float: left;
	text-align: center;
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;
}


p
{
	color: rgb(179, 179, 179);
	font-size: 2rem;
}
h1
{
	color: white;
	text-align: center;

}
